<script>
  function trackClicked(pos) {
    var elem = document.getElementById("track" + pos)
    var frame = document.getElementById("iframe" + pos)
    if (elem.className === 'expandedVideo') {
      elem.className = 'collapsedVideo'
      frame.className = 'collapsedFrame'
      frame.setAttribute("src", "")
    } else {
      elem.className = 'expandedVideo'
      frame.className = 'expandedFrame'
      frame.setAttribute("src", frame.getAttribute("data-src"))
    }
  }
</script>

{% assign chart = site.data[include.year] %}

<br />

<h2>The Chart</h2>

{% for track in chart %}
  {% assign mod = forloop.index0 | modulo: 10 %}
  {% if mod == 0 and forloop.index0 != 0 %}
    <br /><br />
  {% endif %}

  {% if forloop.index0 == 0 %}
    {% assign showVid = true %}
  {% else %}
    {% assign showVid = false %}
  {% endif %}
  {% include track.html data=track show=showVid %}
{% endfor %}

{% include stats.html year=include.year %}
