<div class="sidebar">
  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <!--
      <a class="sidebar-nav-item {% if page.url == site.baseurl %}active{% endif %}" href="{{ site.baseurl }}">Home</a>
      -->

      {% for post in site.posts %}
            <a class="sidebar-nav-item {% if page.url == post.url %}active{% endif %}" href="{{site.baseurl}}{{ post.url }}">
              {% if post.chart != null %}
                 {{ post.chart }}
              {% else %}
                {{ post.title }}
              {% endif %}
            </a>
      {% endfor %}

    </nav>

    <p id="copyright">&copy; {{ site.time | date: '%Y' }} <a href="http://www.last.fm/user/sharevari">sharevari</a></p>

    <div class="clearfix"></div>

  </div>
</div>
