{% if include.year %}
  {% assign countryStatsFile = include.year | append: "_countries" %}
  {% assign yearStatsFile = include.year | append: "_years" %}
{% else %}
  {% assign countryStatsFile = "countries" %}
  {% assign yearStatsFile = "years" %}
{% endif %}

{% assign countryStats = site.data[countryStatsFile] %}
{% assign yearStats = site.data[yearStatsFile] %}

<br />

<h2 id="countries">Countries</h2>

<table>
  <tr>
    <th>Country</th><th>Number of tracks</th>
  </tr>

{% for country in countryStats %}
  <tr>
    <td>{{country.name}}</td><td>{{country.num_tracks}}</td>
  </tr>
{% endfor %}

</table>

<br />

<h2 id="years">Release Years</h2>

<table>
  <tr>
    <th>Year</th><th>Number of tracks</th>
  </tr>

{% for year in yearStats %}
  <tr>
    <td>{{year.release_year}}</td><td>{{year.num_tracks}}</td>
  </tr>
{% endfor %}
</table>
