{% assign track = include.data %}

<table class="track" onclick="trackClicked({{track.chart_pos}});">
  <tr>
    <td class="chart_pos" rowspan=2 valign="top">
      {% assign pos = track.chart_pos | plus: 0 %}

      {% if pos > 99 %}
        {{track.chart_pos}}
      {% elsif pos > 9 %}
        0{{track.chart_pos}}
      {% else %}
        00{{track.chart_pos}}
      {% endif %}
    </td>
    <td class="artist hoverable">{{track.artist}}</td>
    <td class="year hoverable" valign="top">{{track.release_year}}</td>
  </tr>
  <tr>
    <td class="title hoverable"><strong>{{track.title}}</strong></td>
    <td class="country hoverable" valign="bottom">{{track.country}}</td>
  </tr>
</table>


{% if track.link contains 'bandcamp.com' %}
  {% assign platform = 'bandcamp' %}
{% elsif track.link contains 'spotify.com' %}
  {% assign platform = 'spotify' %}
{% elsif track.link contains 'soundcloud.com' %}
  {% assign platform = 'soundcloud' %}
{% else %}
  {% assign platform = 'youTube' %}
{% endif %}

{% if include.show %}
  {% assign visibility = 'expandedVideo' %}
  {% assign frameSource = track.link %}
{% else %}
  {% assign visibility = 'collapsedVideo' %}
  <!-- Removing iframe src prevents hidden iframes from loading -->
  {% assign frameSource = '' %}
{% endif %}

<div
  id="video{{track.chart_pos}}"
  class="video {{platform}} {{visibility}}"
>
  {% if track.link %}
    <iframe
      id="iframe{{track.chart_pos}}"
      class="videoIframe"
      data-src="{{track.link}}"
      src="{{frameSource}}"
      frameborder="0"
      allowfullscreen>
    </iframe>
  {% else %}
    <div
      id="iframe{{track.chart_pos}}"
      class="videoIframe"
      <p class="error">I am sorry, this track wasn't found.</p>
      <p class="try">
        <a href="https://www.google.com/search?q={{track.artist}} {{track.title}}" target="_blank">
          Try googling?
        </a>
      </p>
    </div>
  {% endif %}
</div>

<div class="spacer"></div>
