{% assign track = include.data %}

<table class="track">
  <tr>
    <td class="chart_pos" rowspan=2 valign="top">
      {% assign pos = track.chart_pos | plus: 0 %}

      {% if pos > 99 %}
        {{track.chart_pos}}
      {% elsif pos > 9 %}
        0{{track.chart_pos}}
      {% else %}
        00{{track.chart_pos}}
      {% endif %}
    </td>
    <td class="artist">{{track.artist}}</td>
    <td class="year" valign="top">{{track.release_year}}</td>
  </tr>
  <tr>
    <td class="title"><strong>{{track.title}}</strong></td>
    <td class="country" valign="bottom">{{track.country}}</td>
  </tr>
</table>
