/*
 * Styles for the components of a top 100 chart.
 */

table.track {
  margin-bottom: 0rem;
}

tbody tr td.chart_pos {
  background-color: $gray-2;
  color: black;
  font-size: 28px;
  width: auto;
}

table.track:hover tr td.chart_pos {
  background-color: $hover-2;
}

tbody tr td {
  background-color: $gray-1;
}

table.track:hover .hoverable {
  background-color: $hover-1;
}

tbody tr td.chart_pos,
tbody tr td.title,
tbody tr td.country {
  padding-top: 0px;
}

tbody tr td.year,
tbody tr td.country {
  width: auto;
  text-align: right;
}

tbody tr td.artist,
tbody tr td.year {
  width: 100%;
  padding-bottom: 0px;
}

.spacer {
  height: 10px;
}

.video {
  background-color: $gray-6;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.collapsedVideo {
  height: 0;
  transition: height 0.1s ease-out;
}

.expandedVideo {
  transition: height 0.4s ease-out;
}

/* Concatenating classes means select only elements that have both classes */
.expandedVideo.youTube,
.expandedVideo.soundcloud {
  height: 150px;
}

.expandedVideo.bandcamp {
  height: 120px;
}

.expandedVideo.spotify {
  height: 80px;
}

.videoIframe {
  width: 100%;
}

.error {
  color: $gray-1;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 85%;
}

.try {
  color: $gray-1;
  font-size: 100%;
}