/*
 * Styles for the components of a top 100 chart.
 */

table.track {
  margin-bottom: 0rem;
}

tbody tr td.chart_pos {
  background-color: $gray-2;
  color: black;
  font-size: 28px;
  width: auto;
}

tbody tr td {
  background-color: $gray-1;
}

table.track:hover .hoverable {
  background-color: $gray-1-hover;
}

tbody tr td.chart_pos,
tbody tr td.title,
tbody tr td.country {
  padding-top: 0px;
}

tbody tr td.year,
tbody tr td.country {
  width: auto;
  text-align: right;
}

tbody tr td.artist,
tbody tr td.year {
  width: 100%;
  padding-bottom: 0px;
}

.spacer {
  height: 10px;
}

.collapsedVideo {
  display: none;
  background-color: $gray-6;
  width: 100%;
  height: 0;
  text-align: center;
}

.expandedVideo {
  display: block;
  background-color: $gray-6;
  width: 100%;
  text-align: center;
}

.youTube, .soundcloud {
  height: 150px;
}

.bandcamp {
  height: 120px;
}

.spotify {
  height: 80px;
}

.collapsedFrame {
  display: none;
  width: 100%;
}

.expandedFrame {
  display: block;
  width: 100%;
}

.error {
  color: $gray-1;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 85%;
}

.try {
  color: $gray-1;
  font-size: 100%;
}